<div class="container">
    <div class="row">
        <div class="col">
            <table class="table border border-dark m-5">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <td>100</td>
                    <td>Men"s T Shirt</td>
                    <td><img src="https://prod-img.thesouledstore.com/public/theSoul/uploads/catalog/product/1665832607_7807006.jpg?w=360&dpr=1.0" alt=""></td>
                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ex dolorum sapiente reprehenderit saepe illo delectus fuga vero obcaecati beatae eius ea, laboriosam eaque modi et cupiditate. Dolor, doloremque eligendi!</td>
                    <td>500</td>
                    <td><i class="fa fa-trash text-danger"></i></td>
                </tbody>
                
            </table>
            <div class="mb-3"style="float: right;">
                <button class="btn btn-danger">Empty cart</button>&nbsp;
                <button class="btn btn-warning">View More</button>&nbsp;
                <button class="btn btn-success">Check out</button>&nbsp;
            </div>
        </div>
    </div>
</div>