<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-5">404</h1>
            <img src="https://th.bing.com/th/id/R.f101998745cff4e712a6ddef08c7a4b8?rik=0L3Lyu2%2fr8%2bOKQ&riu=http%3a%2f%2fwww.clipartbest.com%2fcliparts%2f9Tz%2fLBr%2f9TzLBr7qc.gif&ehk=XsiVK6aOBXt0AO%2f%2fDN5bSIFdkjoek57vyEjKMUAGyiw%3d&risl=&pid=ImgRaw&r=0" alt="">
            <h3 class="mt-">Pag Not Found</h3>
            <h5>we are sorry the page you are looking for does not exist</h5>
        </div>
    </div>
</div>